<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Java_EE_01_3_ForwardVsSendRedirect</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ControllerForward</display-name>
    <servlet-name>ControllerForward</servlet-name>
    <servlet-class>_java._ee._01._forward.ControllerForward</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerForward</servlet-name>
    <url-pattern>/ControllerForward</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerSendRedirect</display-name>
    <servlet-name>ControllerSendRedirect</servlet-name>
    <servlet-class>_java._ee._01._sendredirect.ControllerSendRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerSendRedirect</servlet-name>
    <url-pattern>/ControllerSendRedirect</url-pattern>
  </servlet-mapping>
</web-app>